SMS-WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch0="http://com/comviva/ngage/ws/sms"
	xmlns:sch1="http://sms.soap.ngage.comviva.com"
	xmlns:sch2="http://sms.soap.ngage.comviva.com"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://com/comviva/ngage/ws/sms" 
  targetNamespace="http://com/comviva/ngage/ws/sms">
	<wsdl:types>
		<xsd:schema
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="http://com/comviva/ngage/ws/sms"
			xmlns:req="http://sms.soap.ngage.comviva.com"
			xmlns:res="http://sms.soap.ngage.comviva.com" 
      attributeFormDefault="unqualified" 
      elementFormDefault="qualified" 
      targetNamespace="http://com/comviva/ngage/ws/sms">
			<xsd:import namespace="http://sms.soap.ngage.comviva.com" />
			<xsd:element name="SMSSubmitRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="req" type="req:SmsReq" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SMSSubmitResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rsp" type="res:SmsRes" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
		<xs:schema
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://sms.soap.ngage.comviva.com" 
      attributeFormDefault="unqualified" 
      elementFormDefault="qualified" 
      targetNamespace="http://sms.soap.ngage.comviva.com">
			<xs:element name="SmsReq" type="SmsReq" />
			<xs:complexType name="SmsReq">
				<xs:sequence>
					<xs:element name="CampaignName" type="xs:string" minOccurs="1" />
					<xs:element name="CampaignDesc" type="xs:string" minOccurs="0" />
					<xs:element name="Sender">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Username" type="xs:string" minOccurs="1" />
								<xs:element name="Password" type="xs:string" minOccurs="1" />
								<xs:element name="Address" type="xs:string" minOccurs="0" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="ProtocolId" type="xs:string" minOccurs="0" />
					<xs:element name="CampaignCategory" type="xs:string" minOccurs="0" />
					<xs:element name="PromotionalCategory" type="xs:string" minOccurs="0" />
					<xs:element name="ContentType" type="xs:double" minOccurs="0" />
					<xs:element name="ScheduledDeliveryDateTime" type="xs:dateTime" minOccurs="0" />
					<xs:element name="ValidityPeriodDateTime" type="xs:dateTime" minOccurs="0" />
					<xs:element name="DeliveryReport" type="xs:boolean" minOccurs="0" />
					<xs:element name="Retry" type="xs:boolean" minOccurs="0" />
					<xs:element name="JobType">
						<xs:complexType>
							<xs:choice minOccurs="1">
								<!-- Job type 1 (1 message n recipients) -->
								<xs:element name="Simple">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="MsgDetails">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ShortMessage" type="xs:string" minOccurs="1" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Recipient">
												<xs:complexType>
													<xs:sequence minOccurs="1">
														<xs:element name="Number" type="xs:string" minOccurs="0" />
														<xs:element name="DistributionList" type="xs:string" minOccurs="0" />
														<xs:element name="SegmentList" type="xs:string" minOccurs="0" />
														<xs:element name="Contact" type="xs:string" minOccurs="0" />
														<xs:element name="ContactGroup" type="xs:string" minOccurs="0" />
														<xs:element name="FileURL" type="xs:string" minOccurs="0" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<!-- Job type 2 (Everything in file) -->
								<xs:element name="File">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="DataFileURL" type="xs:string" minOccurs="1" />
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<!-- Job type 3 (Placeholder message n recipients) -->
								<xs:element name="Placeholders">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="MsgDetails">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="ShortMessage" type="xs:string" minOccurs="1" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Recipient">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="DataFileURL" type="xs:string" minOccurs="1" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns="http://sms.soap.ngage.comviva.com" 
      attributeFormDefault="unqualified" 
      elementFormDefault="qualified" 
      targetNamespace="http://sms.soap.ngage.comviva.com">
			<xs:element name="SmsRes" type="SmsRes" />
			<xs:complexType name="SmsRes">
				<xs:sequence>
					<xs:element name="CampaignID" type="xs:string" />
					<xs:element name="JobCost" type="xs:double" />
					<xs:element name="RecipientsCount" type="xs:long" />
					<xs:element name="Status">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="StatusCode" type="xs:long" />
								<xs:element name="StatusText" type="xs:string" />
								<xs:element name="Details" type="xs:string" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="SMSSubmitResponse">
		<wsdl:part element="tns:SMSSubmitResponse" name="SMSSubmitResponse" />
	</wsdl:message>
	<wsdl:message name="SMSSubmitRequest">
		<wsdl:part element="tns:SMSSubmitRequest" name="SMSSubmitRequest" />
	</wsdl:message>
	<wsdl:portType name="SMSWebService">
		<wsdl:operation name="SMSSubmit">
			<wsdl:input message="tns:SMSSubmitRequest" name="SMSSubmitRequest" />
			<wsdl:output message="tns:SMSSubmitResponse" name="SMSSubmitResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SMSWebService" type="tns:SMSWebService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SMSSubmit">
			<soap:operation soapAction="" />
			<wsdl:input name="SMSSubmitRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SMSSubmitResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SMSService">
		<wsdl:port binding="tns:SMSWebService" name="SMSWebService">
			<soap:address location="http://0.0.0.0:8887/ws/sms" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>